/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: 4C35DB 100% ;
    color: rgb(66, 47, 47);
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(189, 26, 26);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30px; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  }
  